<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.randoom.setlxUI.android"
    android:installLocation="auto"
    android:versionCode="79"
    android:versionName="2.3.4 (A2.5.5)" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:allowClearUserData="true" >
        <activity
            android:name=".SetlXforAndroidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" >
        </service>
    </application>

</manifest>
