<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.randoom.setlxUI.android"
    android:installLocation="auto"
    android:versionCode="103"
    android:versionName="2.7.2 (A2.6.6)" >

    <!-- Without this folders will be inaccessible in Android-11 and above devices -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Without this entry storage-permission entry will not be visible under app-info permissions list Android-10 and below -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"/>

    <!-- Without this entry the folders will remain in-accessible in Android-10, even if WRITE_EXTERNAL_STORAGE as above is present. -->

    <application
        android:largeHeap="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="s">
        <activity
            android:name="org.randoom.setlxUI.android.SetlXforAndroidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.DeviceDefault"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" >
        </service>
    </application>

</manifest>
